*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

.heading_container{
    min-height: 57px;
    background-color: #ffc800;
    color: white;
    display: flex;
    align-items: center;
}

.heading_container h1{
    margin-left: 30px;
    font-family: cursive;
}

.footer_sec{
    min-height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    min-width: 100%;
}

.footer_sec p{
    font-size: 20px;
    color: #00000070;
}

.note_sec{
    /* border: 1px solid black; */
    box-shadow: 1px 1px 5px 2px gray;
    background-color: white;
    display: flex;
    width: 390px;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    align-items: centr;
    align-items: center;
    margin-bottom: 33px;
    border-radius: 20px;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 193px;
    justify-content: space-around;
    position: relative;
}

.title, .message{
    padding: 10px;
}
.title input{
    width: 100%;
    height: 31px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid black;
}

.message textarea{
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    width: auto;
    height: 58px;
    font-size: 15px;
}

.btn{
    
    display: flex;
    justify-content: center;
    position: absolute;
    right: -15px;
    bottom: -10px;

}

.btn button{
    width: 45px;
    height: 43px;
    border-radius: 50%;
    background-color: #ffc800;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note_sec_change{
    /* border: 1px solid; */
    display: flex;
    margin: 0px;
    /* margin-left: 20px; */
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;

}

.note_sec1{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 300px;
    max-width: 500px;
    min-height: 150px;
    background-color: white;
    box-shadow: 1px 1px 5px 2px gray;
    border-radius: 20px;
    padding: 10px;
    position: relative;
}

.m-5{
    margin: 5px;
}

.btn1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn1 button{
    width: 78px;
    height: 26px;
    border-radius: 20px;
    border: none;
    background-color: #ffc800;
    font-size: 15px;
}